{% extends "base.html" %}
{% block content %}



<main class='container'>

    <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <h3 class='text-center display-3 py-5'>Tasks Lists</h3>
            <ul class='list-group'>
            {% for task in tasks %}
                <a class='list-group-item' href="{% url "task_detail" task.id %}">
                    <header class='d-flex justify-content-between'>
                        {% if task.important %}
                            <h4 class='fw-bold text-success'>{{ task.title }}</h4>
                        {% else %}
                            <h4> {{ task.title }}</h4>
                        {% endif %}
                        <p>{{ task.user.username }}</p>
                    </header>
                    {% if task.datecompleted is not null %}
                        <p>Completed: {{ task.datecompleted|date:'M j Y:i' }}</p>
                    {% endif %}
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock content %}
